body {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lavender;
}

.app {
    max-width: 500px;
    padding: 30px 60px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.app__header{}

.app__header h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.error {
    margin: 10px 0;
    text-align: center;
    color:crimson;
}

.app__content {}

.input {
    margin-top: 20px;
}

.input label {
    display: block;
}
.input input {
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #eee;
    border-radius: 5px;
}
.btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px 10px;
    outline: 0;
    text-transform: uppercase;
    border: 1px solid cornsilk;
    border-radius: 5px;
    background-color: cornsilk;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.btn:hover {
    background-color: bisque;
    transition: background-color 0.2s ease-in-out;
}